*.swp
/nvim/.config/coc/
/nvim/.config/composer/
/nvim/.config/configstore/
/nvim/.config/gitui/
/nvim/.config/nvim/.netrw*
/nvim/.config/nvim/autoload/plug.vim
/nvim/.config/nvim/pack/minpac/
/nvim/.config/nvim/plugin/
/nvim/.config/wslu/
/nvim/.local/share/nvim/*
/nvim/.local/state/nvim/*
/vim/.vim/.netrwhist
/vim/.vim/autoload/
/vim/.vim/plugged/
