[submodule "vim/.vim/bundle/surround"]
	path = vim/.vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/exchange"]
	path = vim/.vim/bundle/exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "vim/.vim/bundle/typescript-vim"]
	path = vim/.vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "nvim/.config/nvim/pack/minpac/opt/minpac"]
	path = nvim/.config/nvim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac
