snippet fmatter
---
title: ${1:Title}
date: ${2:`date +%Y-%m-%d`}
---

# $1
$0
endsnippet

snippet optable
Operation | Keystrokes | Shortcut
--------- | ---------- | --------
${1:Operation} | ${2:Keystrokes} | ${3:Shortcut}
$0
endsnippet 

